.map {
  &__header {
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;

    @media screen and (max-width: $lg) {
      font-size: 1.3em;
    }
    @media screen and (max-width: $md) {
      font-size: 1em;
    }
    @media screen and (max-width: $sm) {
      text-align: center;
    }

    >h1 {
      margin: 0;
      padding: 0.83em 0 0.83em 40px;
      @media screen and (max-width: $lg) {
        padding: 0.83em 0 21px 0;
      }
      @media screen and (max-width: $sm) {
        padding: 0.83em 0 240px 0;
      }
    }
  }

  &__content {
    position: relative;
  }

  &__background {
    content: url("./static/map.png");
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
    pointer-events: none;
  }

  &__bank {
    content: url(./static/bank.png);
    width: 36.7%;
    top: 38.9%;
    left: 0%;
    @include map-image;
  }

  &__parking {
    content: url(./static/parking.png);
    width: 50.3%;
    top: 55.9%;
    left: 18.1%;
    @include map-image;
  }

  &__stop {
    content: url(./static/stop.png);
    width: 13.7%;
    top: 58.7%;
    left: 73.6%;
    @include map-image;
  }

  &__caffee {
    content: url(./static/caffee.png);
    width: 52.8%;
    top: 33.8%;
    left: 47.1%;
    @include map-image;
  }

  &__shop {
    content: url(./static/shop.png);
    width: 28.3%;
    top: 4.9%;
    left: 31.1%;
    @include map-image;
  }

  &__museum {
    content: url(./static/museum.png);
    width: 16.6%;
    top: 1.6%;
    left: 21%;
    @include map-image;
  }
}
