@import "./components/map";

.how-it-works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: map-get($background-color, "second");
  height: 100%;
  position: relative;
  @media screen and (max-width: $sm) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  @include center-sm;

  &__map {
    flex: 0 1 60%;
    box-sizing: border-box;

    @media screen and (max-width: $sm) {
      flex: 0;
    }
  }

  &__phone {
    flex: 0 0 314px;
    padding: 36px 40px;
    @media screen and (max-width: $lg) {
      flex: 0 0 (314px / 1.2);
    }  
    @media screen and (max-width: $md) {
      flex: 0 0 (314px / 1.4);
    }  
    @media screen and (max-width: $sm) {
      position: absolute;
      z-index: 4;
      top: 7%;
      right: 7%;
      padding-bottom: 0px;
      padding-left: 0px;
    }  
    @media screen and (max-width: $xs) {
      top: 5%;
    }  
  }

  &__btn-holder {
    display: none;
    @media screen and (max-width: $sm) {
      display: block;
      width: 60%;
      margin: 16px 0;
    }
  }
}