/* fonts */
$body-font: "Gotham Pro";
$base-font-size: 16px;
$font-color: #252227;

/* background-colors */
$background-color: (
  first: #f5f5f5,
  second: #ffffff,
  third: #01b5e6
);

/* breakepoints */
$xs: 640px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1900px;

/* nav height */
$nav-height: 90px;

/* colors */
$menu-background: #f1f4f6;

$social-background: #353535;
$social-color: #ffffff;

$button-background: #f3379d;
$button-color: #ffffff;
$button-i-color: #b12873;