<section class="first-projects">
  <div class="first-projects__description">
    <div class="description">
      <header class="description__title">
        <h1>Первые проекты <br>в Беларуси <br>с технологией <br>iBEACON</h1>
      </header>
      <article class="description__content">
        <p>Здесь будет расписано использование маячков в реальном проекте. В Минске проходит XXII Международный специализированный форум по информационным и банковским технологиям - "ТИБО-2015". Из нового также стоит упомянуть <br>v-banking – универсальное мобильное приложение, которое позволяет объединить в один аккаунт все свои банковские карты и управлять ими со смартфона. 
          <br><br><a href="#">Посмотреть еще проект</a>
        </p>
      </article>
    </div>
  </div>
  <div class="first-projects__carousel">
    <div class="carousel">
      <div class="carousel__slides">
        <div class="carousel__slide carousel__slide_active">
          <img src="static/carousel-img.png">
        </div>
        <div class="carousel__slide">
          <img src="static/carousel-img.png">
        </div>
        <div class="carousel__slide">
          <img src="static/carousel-img.png">
        </div>
        <a class="carousel__btn-prev" onclick="">&#10094;</a>
        <a class="carousel__btn-next" onclick="">&#10095;</a>
      </div>
      <div class="carousel__dots">
        <span class="carousel__dot carousel__dot_active" onclick="currentSlide(1)"></span> 
        <span class="carousel__dot" onclick=""></span> 
        <span class="carousel__dot" onclick=""></span> 
      </div>
      <footer class="carousel__footer">
        <button class="button">Заказать презентацию</button>
      </footer>
    </div>
  </div>
  <div class="first-projects__btn-holder">
    <button class="button">Заказать презентацию</i></button>
  </div>
  <div class="first-projects__title-holder">
    <h1 class="title">"ТИБО-2015"</h1>
  </div>
</section>