<section class="first">
  <div class="first__description">
    <div class="description">
      <header class="description__title">
        <h1>Как повысить <br>посещаемость <br>магазина на 15%</h1>
      </header>
      <article class="description__content">
        <p><b>Уникальная и инновационная технология для Беларуси.</b></p>
        <p>Отправляйте автоматически любому человеку в радиусе 5-ти метров вокург вашего магазина <b>сообщения о скидках и акциях прямо в его смартфон!</b>
        </p>
        <p>Отслеживайте поведение внутри помещения, зонируйте ваш магазин, сообщайте об акциях в том отделе, где находится посетитель.</p>
        <p><b>Система полностью автоматизированна и не требует времени сотрудников на обслуживание.</b></p>
      </article>
      <footer class="description__footer">
        <button class="button">Подробнее о системе iBeacon <i class="fas fa-angle-down"></i></button>
      </footer>
    </div>
  </div>
  <div class="first__beacon">
    <img class="beacon" alt="iBEACON">
  </div>
  <div class="first__phone">
    <div class="phone">
      <div class="phone__body">
        <img class="phone__img phone__img_deafult"></img>
      </div>
      <footer class="phone__footer">
        <div class="social">
          <ul class="social__wraper">
            <li class="social__item"><i class="fab fa-android"></i></li>
            <li class="social__item"><i class="fab fa-apple"></i></li>
            <li class="social__item"><i class="fab fa-windows"></i></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
  <div class="first__btn-holder">
    <button class="button">Подробнее о системе iBeacon <i class="fas fa-angle-down"></i></button>
  </div>
</section>
