<section class="how-it-works">
  <div class="how-it-works__map">
    <div class="map">
      <header class="map__header">
        <h1>Как это работает</h1>  
      </header>
      <div class="map__content">
        <img class="map__background" alt="">
        <img class="map__bank" alt="" onmouseover="show('bank')" onmouseout="hide('bank')">
        <img class="map__parking" alt="" onmouseover="show('parking')" onmouseout="hide('parking')">
        <img class="map__caffee" alt="" onmouseover="show('caffee')" onmouseout="hide('caffee')">
        <img class="map__stop" alt="" onmouseover="show('stop')" onmouseout="hide('stop')">
        <img class="map__shop" alt="" onmouseover="show('shop')" onmouseout="hide('shop')">
        <img class="map__museum" alt="" onmouseover="show('museum')" onmouseout="hide('museum')">
      </div>
    </div>
  </div>
  <div class="how-it-works__phone">
    <div class="phone phone_animated">
      <div class="phone__body">
        <img id="deafult" class="phone__img phone__img_deafult"></img>
        <img id="bank" class="phone__img phone__img_bank"></img>
        <img id="parking" class="phone__img phone__img_parking"></img>
        <img id="caffee" class="phone__img phone__img_caffee"></img>
        <img id="stop" class="phone__img phone__img_stop"></img>
        <img id="shop" class="phone__img phone__img_shop"></img>
        <img id="museum" class="phone__img phone__img_museum"></img>
      </div>
      <footer class="phone__footer">
        <button class="button button_centered">Хочу так же</button>
      </footer>
    </div>
  </div>
  <div class="how-it-works__btn-holder">
    <button class="button">Хочу так же</button>
  </div>
  <script>
    function show(element) {
      document.getElementById("deafult").style.display = 'none';
      document.getElementById(element).style.display = 'inline';
    }
    function hide(element) {
      document.getElementById("deafult").style.display = 'inline';
      document.getElementById(element).style.display = 'none';
    }
  </script>
</section>