<header class="menu">
  <div class="menu__logo"></div>
  <nav class="menu__items">
    <button class="menu__toggle-btn"></button>
    <ul class="menu__items-wraper">
      <li class="menu__item menu__item_active"><a href="#">Увеличиваем конверсию</a></li>
      <li class="menu__item"><a href="#">Принцип работы</a></li>
      <li class="menu__item"><a href="#">№1 в Беларуси</a></li>
      <li class="menu__item"><a href="#">О маячке</a></li>
      <li class="menu__item"><a href="#">Ваш бизнес</a></li>
      <li class="menu__item"><a href="#">Контакты</a></li>
    </ul>
  </nav>
</header>
